@font-face {
  font-family: 'Kittithada';
  src: url("../fonts/kittithada/KittithadaLight45F.eot");
  src: url("../fonts/kittithada/KittithadaLight45F.eot?#iefix") format("embedded-opentype"), url("../fonts/kittithada/KittithadaLight45F.woff") format("woff"), url("../fonts/kittithada/KittithadaLight45F.ttf") format("truetype"), url("../fonts/kittithada/KittithadaLight45F.svg#KittithadaLight45F") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Kittithada Med';
  font-weight: 600;
  src: url("../fonts/kittithada/KittithadaMedium65P.eot");
  src: url("../fonts/kittithada/KittithadaMedium65P.eot?#iefix") format("embedded-opentype"), url("../fonts/kittithada/KittithadaMedium65P.woff") format("woff"), url("../fonts/kittithada/KittithadaMedium65P.ttf") format("truetype"), url("../fonts/kittithada/KittithadaMedium65P.svg#KittithadaMedium65P") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SamsungSharpSans Bold';
  src: url("../fonts/samsung/SamsungSharpSans-Bold.eot");
  src: url("../fonts/samsung/SamsungSharpSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/samsung/SamsungSharpSans-Bold.woff") format("woff"), url("../fonts/samsung/SamsungSharpSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SamsungSharpSans';
  src: url("../fonts/samsung/SamsungSharpSans-Medium.eot");
  src: url("../fonts/samsung/SamsungSharpSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/samsung/SamsungSharpSans-Medium.woff") format("woff"), url("../fonts/samsung/SamsungSharpSans-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body, html {
  height: 100%;
  width: auto;
  font-family: 'Kittithada'; }

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation; }

.container {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
  height: 100%; }
  @media (max-width: 768px) {
    .container {
      width: 100%;
      max-width: 100%; } }
  @media (max-width: 480px) {
    .container {
      height: 800px; } }

.customer_location {
  display: inline-block;
  background: #fff;
  width: 768px; }
  @media (max-width: 768px) {
    .customer_location {
      max-width: 100%; } }

.header-customer {
  display: inline-block;
  height: auto;
  line-height: 1;
  padding: 15px 25px;
  width: 275px; }
  @media (max-width: 768px) {
    .header-customer {
      width: 100%; } }
  @media (max-width: 480px) {
    .header-customer {
      padding: 15px; } }
  @media (max-width: 375px) {
    .header-customer {
      padding: 10px 15px; } }
  .header-customer img {
    margin: 30px auto 12px; }
    @media (max-width: 768px) {
      .header-customer img {
        width: 30%; } }
    @media (max-width: 480px) {
      .header-customer img {
        margin: 5px auto 0px; } }
    @media (max-width: 425px) {
      .header-customer img {
        width: 27%; } }
    @media (max-width: 375px) {
      .header-customer img {
        margin: 5px auto 5px; } }
    @media (max-width: 320px) {
      .header-customer img {
        margin: 10px auto 0px; } }
  .header-customer span {
    font-family: 'SamsungSharpSans';
    display: inline-block;
    line-height: 1;
    color: #707278;
    font-size: 12px; }
    @media (max-width: 768px) {
      .header-customer span {
        font-size: 24px; } }
    @media (max-width: 480px) {
      .header-customer span {
        font-size: 14px; } }
    @media (max-width: 375px) {
      .header-customer span {
        font-size: 12px; } }

.bt-edit-add {
  display: inline-block;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  /* letter-spacing: 1px; */
  width: 155px;
  top: 147px;
  float: right;
  right: 30px;
  text-align: center;
  cursor: pointer; }
  .bt-edit-add:hover {
    background-color: #fff;
    color: #1428a0; }
    .bt-edit-add:hover .img-edit {
      filter: invert(70%) sepia(139%) saturate(196%) hue-rotate(195deg) brightness(100%) contrast(215%); }
  .bt-edit-add .img-edit {
    display: inline-block;
    position: relative;
    background: url("../images/ico/edit-w-ico.png");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 35px;
    height: 35px;
    background-position: 5px 16px; }
  @media (max-width: 768px) {
    .bt-edit-add {
      top: 161px; } }
  @media (max-width: 480px) {
    .bt-edit-add {
      right: -260px; } }
  @media (max-width: 425px) {
    .bt-edit-add {
      right: -310px;
      top: 165; } }
  @media (max-width: 375px) {
    .bt-edit-add {
      right: -360px;
      top: 170; } }
  @media (max-width: 320px) {
    .bt-edit-add {
      right: -420px;
      top: 170; } }

.title-step {
  background: #1428a0; }
  .title-step h2 {
    font-size: 50px;
    padding: 15px 25px;
    color: #fff;
    font-weight: bold; }
    @media (max-width: 480px) {
      .title-step h2 {
        font-size: 24px;
        padding: 10px 15px;
        margin-top: 0; } }
    @media (max-width: 425px) {
      .title-step h2 {
        font-size: 22px; } }
    @media (max-width: 375px) {
      .title-step h2 {
        font-size: 20px; } }
    @media (max-width: 320px) {
      .title-step h2 {
        padding: 10px 15px;
        margin-top: 10px; } }
  .title-step span {
    font-weight: bold;
    font-family: 'SamsungSharpSans';
    font-size: 34px; }
    @media (max-width: 480px) {
      .title-step span {
        font-size: 24px; } }
    @media (max-width: 425px) {
      .title-step span {
        font-size: 20px; } }
    @media (max-width: 375px) {
      .title-step span {
        font-size: 18px; } }

.search-location {
  margin-top: -10px;
  color: #a2a1a8; }
  @media (max-width: 480px) {
    .search-location {
      position: relative; } }
  .search-location input {
    display: block;
    width: 100%;
    font-size: 45px;
    padding: 15px 25px;
    border: 0px solid;
    box-shadow: 0px 0 5px 0px #000040;
    float: left; }
    @media (max-width: 480px) {
      .search-location input {
        font-size: 26px; } }
    @media (max-width: 375px) {
      .search-location input {
        font-size: 20px;
        padding: 10px 15px; } }
    @media (max-width: 320px) {
      .search-location input {
        padding: 10px 15px; } }
  .search-location ::placeholder {
    color: #a2a1a8; }
  .search-location .form-control-feedback {
    position: absolute;
    top: 245px;
    left: 695px;
    z-index: 9999;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    font-size: 34px;
    color: #a2a1a8;
    background: none;
    border: none; }
    @media (max-width: 768px) {
      .search-location .form-control-feedback {
        top: 260px; } }
    @media (max-width: 480px) {
      .search-location .form-control-feedback {
        font-size: 24px;
        top: 15px;
        right: 15px;
        left: auto; } }
    @media (max-width: 375px) {
      .search-location .form-control-feedback {
        top: 5px; } }
    @media (max-width: 320px) {
      .search-location .form-control-feedback {
        top: 5px; } }

.button {
  position: absolute;
  width: 100%;
  bottom: 0; }
  @media (max-width: 768px) {
    .button {
      position: fixed; } }

.button-two {
  position: relative;
  position: fixed;
  width: 100%;
  max-width: 768px;
  bottom: 0; }
  @media (max-width: 768px) {
    .button-two {
      max-width: 100%; } }

.bg-button {
  background: #fff;
  z-index: 99; }

a:hover {
  color: #fff;
  text-decoration: none;
  outline: 0; }

.bt-wrap {
  text-align: center; }

.bt-next {
  display: inline-block;
  background: #1428a0;
  width: 93%;
  color: #fff;
  font-size: 54px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px; }
  @media (max-width: 480px) {
    .bt-next {
      font-size: 24px;
      padding: 5px; } }
  @media (max-width: 375px) {
    .bt-next {
      margin-bottom: 20px; } }
  @media (max-width: 375px) {
    .bt-next {
      font-size: 22px; } }

.button-one {
  z-index: 99; }

.button-cancel {
  background: #fff;
  color: #707278;
  border: 1px solid #c4c4c4;
  margin-top: -10px;
  margin-bottom: 10px; }
  .button-cancel:hover {
    color: #707278;
    text-decoration: none;
    outline: 0; }

.button-step {
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 768px;
  text-align: center; }
  @media (max-width: 768px) {
    .button-step {
      width: 100%; } }
  .button-step button {
    background: #1428a0;
    width: 700px;
    color: #fff;
    font-size: 54px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px; }

.button-confirm {
  top: 980px;
  width: 90%;
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  width: 768px;
  text-align: center; }
  @media (max-width: 768px) {
    .button-confirm {
      width: 100%; } }
  .button-confirm button {
    background: #1428a0;
    width: 700px;
    color: #fff;
    font-size: 54px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding-left: 25px; }
  .button-confirm .button-cancel {
    background: #fff;
    color: #707278;
    border: 1px solid #c4c4c4; }

.button-call {
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 768px;
  text-align: center; }
  @media (max-width: 768px) {
    .button-call {
      width: 100%; } }
  .button-call a {
    padding-left: 50px; }
    @media (max-width: 320px) {
      .button-call a {
        padding-left: 40px; } }
  .button-call:before {
    content: '';
    position: absolute;
    background-image: url("../images/ico/edit-w-ico.png");
    background-repeat: no-repeat;
    background-size: 35px;
    width: 40px;
    height: 40px;
    left: 250px;
    top: 20px;
    margin-left: 35px; }
    @media (max-width: 480px) {
      .button-call:before {
        background-size: 25px;
        left: 150px;
        top: 10px; } }
    @media (max-width: 425px) {
      .button-call:before {
        left: 120px; } }
    @media (max-width: 375px) {
      .button-call:before {
        left: 110px;
        background-size: 20px; } }
    @media (max-width: 320px) {
      .button-call:before {
        left: 80px;
        top: 10px; } }

.popup-location {
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  width: 768px;
  text-align: center;
  top: 350px;
  left: 0;
  z-index: 999; }
  @media (max-width: 768px) {
    .popup-location {
      width: 100%; } }
  .popup-location .text-location {
    display: inline-block;
    width: 93%;
    height: 60px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0 5px 0px #000040;
    overflow: hidden; }
    .popup-location .text-location span {
      letter-spacing: 1px;
      color: #000;
      font-size: 42px;
      font-weight: bold; }
    .popup-location .text-location:before {
      content: '';
      position: absolute;
      background-image: url("../images/ico/map-location-ico.png");
      background-repeat: no-repeat;
      background-size: 20px;
      width: 31px;
      height: 31px;
      left: 50px;
      top: 17px; }
    .popup-location .text-location .location-popup-close {
      display: inline-block;
      position: absolute;
      background-image: url("../images/ico/close-ico.png");
      background-repeat: no-repeat;
      background-size: 20px;
      width: 31px;
      height: 31px;
      right: 35px;
      top: 20px; }

.title-location span {
  font-size: 50px;
  color: #3a4053;
  padding: 15px 70px;
  font-weight: bold; }

.title-location :before {
  content: '';
  position: absolute;
  background-image: url("../images/ico/viewmap-gray-ico.png");
  background-repeat: no-repeat;
  background-size: 30px;
  width: 31px;
  height: 31px;
  left: 25px;
  top: 245px; }
  @media (max-width: 768px) {
    .title-location :before {
      top: 260px; } }

.location-detail {
  text-align: center;
  padding: 15px 10px 35px;
  color: #707278;
  font-size: 45px; }
  @media (max-width: 480px) {
    .location-detail {
      font-size: 26px; } }
  @media (max-width: 375px) {
    .location-detail {
      font-size: 22px; } }
  @media (max-width: 320px) {
    .location-detail {
      font-size: 20px; } }
  .location-detail input {
    width: 96%;
    font-weight: bold;
    padding: 10px 30px;
    border: 1px solid #c4c4c4;
    border-radius: 5px; }
    @media (max-width: 375px) {
      .location-detail input {
        width: 100%; } }
  .location-detail .show-detail {
    width: 93%;
    padding: 30px 37px 50px 50px;
    text-align: left;
    line-height: 40px; }
    @media (max-width: 480px) {
      .location-detail .show-detail {
        line-height: 1;
        width: 100%;
        padding: 30px 30px 50px 30px; } }
    @media (max-width: 375px) {
      .location-detail .show-detail {
        padding: 20px 20px 30px 20px; } }
    @media (max-width: 320px) {
      .location-detail .show-detail {
        padding: 5px 20px 15px 20px; } }
  .location-detail .show-customer-detail {
    border-top: 1px solid #c4c4c4;
    width: 95%;
    text-align: center;
    display: inline-block;
    margin: 15px 0 0;
    padding: 25px 0px 0px 30px;
    line-height: 50px; }
    @media (max-width: 480px) {
      .location-detail .show-customer-detail {
        width: 100%;
        line-height: 1; } }
    @media (max-width: 375px) {
      .location-detail .show-customer-detail {
        padding: 25px 0px 0px 20px; } }
    .location-detail .show-customer-detail ul {
      padding-left: 0;
      text-align: left;
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
      list-style: none; }
      @media (max-width: 480px) {
        .location-detail .show-customer-detail ul {
          columns: 1;
          -webkit-columns: 1;
          -moz-columns: 1; } }
      .location-detail .show-customer-detail ul li.don {
        margin-left: -45px; }
        @media (max-width: 480px) {
          .location-detail .show-customer-detail ul li.don {
            width: auto;
            display: inline-block;
            margin-left: auto; } }
      .location-detail .show-customer-detail ul li.title {
        width: 180px; }
        @media (max-width: 480px) {
          .location-detail .show-customer-detail ul li.title {
            width: auto;
            display: inline-block;
            margin-left: auto; } }
      .location-detail .show-customer-detail ul li.detail {
        width: 400px;
        font-weight: bold;
        margin-left: -250px; }
        @media (max-width: 480px) {
          .location-detail .show-customer-detail ul li.detail {
            width: auto;
            display: inline-block;
            margin-left: auto; } }

.title-time {
  background: #eaedfe;
  margin-top: -10px;
  width: 768px;
  padding: 5px 15px 5px 70px;
  min-height: 84px; }
  @media (max-width: 768px) {
    .title-time {
      width: 100%; } }
  @media (max-width: 480px) {
    .title-time {
      padding: 5px 15px 5px 45px;
      min-height: 0;
      position: relative; } }
  @media (max-width: 375px) {
    .title-time {
      padding-left: 40px; } }
  @media (max-width: 320px) {
    .title-time {
      padding-left: 45px; } }
  .title-time span {
    font-size: 45px;
    color: #707278; }
    @media (max-width: 480px) {
      .title-time span {
        font-size: 24px; } }
    @media (max-width: 425px) {
      .title-time span {
        font-size: 22px; } }
    @media (max-width: 375px) {
      .title-time span {
        font-size: 20px; } }
  .title-time :before {
    content: '';
    position: absolute;
    background-image: url("../images/ico/wait-ico.png");
    background-repeat: no-repeat;
    background-size: 30px;
    width: 31px;
    height: 31px;
    left: 25px;
    top: 243px; }
    @media (max-width: 768px) {
      .title-time :before {
        top: 260px; } }
    @media (max-width: 480px) {
      .title-time :before {
        background-size: 20px;
        width: 20px;
        height: 20px;
        top: 13px;
        left: 15px; } }
    @media (max-width: 425px) {
      .title-time :before {
        background-size: 14px;
        top: 11px; } }
    @media (max-width: 375px) {
      .title-time :before {
        background-size: 18px;
        width: 18px;
        height: 18px;
        top: 11px; } }
    @media (max-width: 320px) {
      .title-time :before {
        top: 12px;
        left: 15px; } }

.show-detail-customer {
  display: inline-block;
  padding: 20px 0 20px 15px; }
  @media (max-width: 480px) {
    .show-detail-customer {
      padding: 20px 0 15px 15px; } }
  @media (max-width: 375px) {
    .show-detail-customer {
      padding: 13px 0 10px 15px; } }
  .show-detail-customer .show-name {
    font-weight: bold; }
    @media (max-width: 480px) {
      .show-detail-customer .show-name {
        margin-top: -15px; } }
    @media (max-width: 375px) {
      .show-detail-customer .show-name {
        margin-top: -7px; } }
    @media (max-width: 320px) {
      .show-detail-customer .show-name {
        margin-top: -10px; } }
  .show-detail-customer .show-tel {
    margin-top: -55px;
    padding-left: 380px;
    font-size: 36px; }
    @media (max-width: 480px) {
      .show-detail-customer .show-tel {
        font-size: 20px;
        padding-left: 170px;
        margin-top: -30px;
        margin-bottom: 0; } }
    @media (max-width: 375px) {
      .show-detail-customer .show-tel {
        font-size: 18px;
        padding-left: 160px;
        margin-top: -26px; } }
    @media (max-width: 320px) {
      .show-detail-customer .show-tel {
        font-size: 16px;
        margin-top: -25px;
        padding-left: 120px; } }
  .show-detail-customer .button-call-cus {
    display: inline-block;
    margin-left: 110px;
    border-radius: 8px;
    border: 1px solid #004aa5;
    color: #004094;
    font-size: 45px;
    padding-left: 50px;
    padding-right: 10px;
    cursor: pointer; }
    @media (max-width: 480px) {
      .show-detail-customer .button-call-cus {
        font-size: 24px;
        position: relative;
        margin-left: 25px;
        padding-left: 40px; } }
    @media (max-width: 425px) {
      .show-detail-customer .button-call-cus {
        padding-left: 38px;
        font-size: 22px; } }
    @media (max-width: 375px) {
      .show-detail-customer .button-call-cus {
        font-size: 20px;
        padding-left: 35px; } }
    @media (max-width: 320px) {
      .show-detail-customer .button-call-cus {
        font-size: 18px;
        margin-left: 5px;
        padding-left: 25px; } }
    .show-detail-customer .button-call-cus:before {
      content: '';
      position: absolute;
      background-image: url("../images/ico/call-w-ico.png");
      background-repeat: no-repeat;
      filter: invert(70%) sepia(139%) saturate(196%) hue-rotate(195deg) brightness(100%) contrast(215%);
      background-size: 25px;
      width: 31px;
      height: 31px;
      padding: 0;
      left: 180px;
      top: 395px; }
      @media (max-width: 768px) {
        .show-detail-customer .button-call-cus:before {
          top: 410px; } }
      @media (max-width: 480px) {
        .show-detail-customer .button-call-cus:before {
          background-size: 20px;
          top: 7px;
          left: 10px; } }
      @media (max-width: 425px) {
        .show-detail-customer .button-call-cus:before {
          background-size: 17px; } }
      @media (max-width: 375px) {
        .show-detail-customer .button-call-cus:before {
          top: 5px; } }
      @media (max-width: 320px) {
        .show-detail-customer .button-call-cus:before {
          top: 5px;
          left: 5px;
          background-size: 15px; } }
    .show-detail-customer .button-call-cus a {
      color: #004094; }
  .show-detail-customer span {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px; }
    @media (max-width: 480px) {
      .show-detail-customer span {
        width: 50px;
        height: 50px;
        margin-top: -5px; }
        .show-detail-customer span img {
          height: 50px !important; } }
    @media (max-width: 320px) {
      .show-detail-customer span {
        width: 35px;
        height: 35px; }
        .show-detail-customer span img {
          height: 35px !important; } }
  @media (max-width: 320px) {
    .show-detail-customer ul {
      margin-bottom: 0; } }
  .show-detail-customer ul li {
    list-style: none;
    font-size: 45px;
    line-height: 1.2;
    padding-left: 110px;
    color: #707278; }
    @media (max-width: 480px) {
      .show-detail-customer ul li {
        font-size: 22px;
        padding-left: 25px; } }
    @media (max-width: 375px) {
      .show-detail-customer ul li {
        font-size: 20px; } }
    @media (max-width: 320px) {
      .show-detail-customer ul li {
        padding-left: 5px; } }

.detail-bottom {
  color: #707278;
  font-size: 45px;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 15px 0 0;
  padding: 10px 0px 15px 30px;
  line-height: 50px; }
  @media (max-width: 480px) {
    .detail-bottom {
      font-size: 22px;
      line-height: 1;
      padding: 10px 0px 15px 20px; } }
  @media (max-width: 425px) {
    .detail-bottom {
      padding: 5px 0px 10px 20px; } }
  @media (max-width: 375px) {
    .detail-bottom {
      font-size: 20px; } }
  @media (max-width: 320px) {
    .detail-bottom {
      font-size: 20px;
      padding: 0px 0px 15px 15px; } }
  .detail-bottom ul {
    padding-left: 0;
    text-align: left;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style: none; }
    @media (max-width: 480px) {
      .detail-bottom ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        margin-bottom: 5px; } }
    @media (max-width: 375px) {
      .detail-bottom ul {
        margin-bottom: 5px; } }
    .detail-bottom ul li.don {
      margin-left: -45px; }
      @media (max-width: 480px) {
        .detail-bottom ul li.don {
          width: auto;
          display: inline-block;
          margin-left: auto; } }
    .detail-bottom ul li.title {
      width: 180px; }
      @media (max-width: 480px) {
        .detail-bottom ul li.title {
          width: auto;
          display: inline-block;
          margin-left: auto; } }
    .detail-bottom ul li.detail {
      width: 400px;
      font-weight: bold;
      margin-left: -250px; }
      @media (max-width: 480px) {
        .detail-bottom ul li.detail {
          width: auto;
          display: inline-block;
          margin-left: auto; } }

.cus-lo-infor {
  display: inline-block;
  background: #fff;
  width: 768px;
  height: 100%;
  padding-bottom: 20px; }
  @media (max-width: 768px) {
    .cus-lo-infor {
      width: 100%; } }

.cus-noinformation {
  width: 768px;
  height: auto;
  text-align: center;
  padding: 5px;
  text-align: center;
  position: absolute;
  top: 20%; }
  @media (max-width: 768px) {
    .cus-noinformation {
      top: 15%;
      width: 100%; } }
  @media (max-width: 480px) {
    .cus-noinformation {
      top: 13%; } }
  @media (max-width: 320px) {
    .cus-noinformation {
      top: 10%; } }
  .cus-noinformation img {
    width: 20%; }
  .cus-noinformation h2 {
    color: #1428a0;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px; }
    @media (max-width: 480px) {
      .cus-noinformation h2 {
        font-size: 50px; } }
    @media (max-width: 375px) {
      .cus-noinformation h2 {
        font-size: 40px; } }
    @media (max-width: 320px) {
      .cus-noinformation h2 {
        font-size: 30px; } }
  .cus-noinformation .description-infor {
    padding-bottom: 60px; }
    @media (max-width: 320px) {
      .cus-noinformation .description-infor {
        padding-bottom: 40px; } }
    .cus-noinformation .description-infor span {
      color: #707278;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 1.1; }
      @media (max-width: 480px) {
        .cus-noinformation .description-infor span {
          font-size: 30px; } }
      @media (max-width: 375px) {
        .cus-noinformation .description-infor span {
          font-size: 20px; } }
  .cus-noinformation .bt-back {
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #1428a0;
    width: 200px;
    display: inline-block;
    padding: 5px;
    cursor: pointer; }
    @media (max-width: 480px) {
      .cus-noinformation .bt-back {
        font-size: 30px; } }
    @media (max-width: 375px) {
      .cus-noinformation .bt-back {
        font-size: 20px; } }
    .cus-noinformation .bt-back a {
      color: #fff; }

.pac-item {
  padding: 8px 5px; }

.gm-style .gm-style-iw-d {
  box-sizing: border-box;
  overflow: auto; }
  @media (max-width: 480px) {
    .gm-style .gm-style-iw-d {
      font-size: 17px; } }
  @media (max-width: 375px) {
    .gm-style .gm-style-iw-d {
      font-size: 14px; } }

.popup-location {
  display: none; }
