.left_col {
  background: #fff; }

.nav_title {
  width: 275px;
  background: #fff;
  display: inline-block;
  margin-bottom: 60px; }

.site_title {
  display: inline-block;
  height: auto;
  padding-left: 30px;
  line-height: 1; }
  .site_title img {
    margin: 30px auto 12px;
    padding: 0 15px 0 0; }
  .site_title span {
    font-family: 'SamsungSharpSans';
    display: inline-block;
    line-height: 1;
    color: #707278;
    font-size: 12px; }

.nav_menu {
  height: 110px;
  padding: 30px 22px;
  background: #fff; }

.sidebar-footer {
  width: 275px; }

.menu_section img {
  width: 14%;
  padding: 0 13px 3px 3px; }

.menu_section h3 {
  padding-left: 23px;
  color: #1428a0;
  text-transform: capitalize;
  letter-spacing: .5px;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 3rem;
  margin-top: 0;
  text-shadow: none; }
  .menu_section h3 a {
    color: #1428a0; }

.nav.side-menu li {
  font-size: 22px; }
  .nav.side-menu li a {
    color: #707278;
    background-color: #f1f3f7;
    margin-bottom: 0;
    padding-left: 2.5rem; }
  .nav.side-menu li a:hover {
    color: #1428a0 !important; }
  .nav.side-menu li .nav.child_menu li a {
    font-size: 20px;
    font-weight: 400;
    background: none;
    padding: 9px 9px 9px 10px; }
  .nav.side-menu li .nav.child_menu li.active > a {
    border-left: 0px; }

.nav.side-menu li.active > a {
  border-left: 5px solid #1428a0; }

.nav.side-menu li.active a {
  font-size: 22px;
  color: #1428a0;
  background: #eaedfe;
  text-shadow: none;
  font-weight: bold; }

li.current-page, .nav.side-menu > li.active {
  border-right: 0px; }

.nav-md ul.nav.child_menu li:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 15px;
  position: inherit;
  right: auto;
  width: 8px;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.nav-md ul.nav.child_menu li:after {
  border-left: none;
  bottom: 0;
  content: "";
  left: 27px;
  position: absolute;
  top: 0; }

.navbar-search {
  width: 75%;
  float: left; }
  .navbar-search input {
    height: 50px; }
  .navbar-search .form-control {
    background: #eaedf2;
    border-radius: 5px;
    font-size: 20px; }
  .navbar-search .form-control:first-child {
    border-radius: 5px; }
  .navbar-search .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    z-index: 9999; }
    .navbar-search .input-group-btn .form-control-feedback {
      position: absolute;
      right: 5px;
      top: 3px;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none; }
    .navbar-search .input-group-btn .glyphicon.glyphicon-search {
      font-size: 20px; }

.top_nav .navbar-right {
  width: 25%; }

.main_container .top_nav {
  margin-left: 275px; }

.nav-md .container.body .right_col {
  margin-left: 275px; }

.nav-md .container.body .col-md-3.left_col {
  width: 275px; }

.input-group {
  position: relative;
  display: block;
  border-collapse: separate; }

.message-notifications {
  display: inline-block;
  /*margin-left: 20px;*/ }
  .message-notifications a:hover {
    background: #eaedfe; }
  .message-notifications .info-number {
    display: inline-block;
    color: #3a4053 !important;
    border-radius: 50%;
    padding: 12px 14px; }
    .message-notifications .info-number .badge {
      font-size: 18px;
      font-weight: normal;
      line-height: 13px;
      padding: 1px 7px;
      position: absolute;
      right: -4px;
      top: 8px; }
    .message-notifications .info-number .bg-green {
      background: #1428a0 !important;
      border: 1px solid #1428a0 !important;
      color: #fff; }
    .message-notifications .info-number .fa-bell-o {
      font-size: 25px; }
  .message-notifications ul#menu1:before {
    position: absolute;
    top: -9px;
    right: 20px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 9px solid #fff;
    border-left: 6px solid transparent;
    content: ''; }
  .message-notifications .scrollbar-notifications {
    overflow-y: scroll;
    height: 545px; }
    .message-notifications .scrollbar-notifications li:hover {
      background: #eaedf2; }
    .message-notifications .scrollbar-notifications li.active {
      background: #eaedfe; }
    .message-notifications .scrollbar-notifications .title-notifications {
      display: inline-block;
      padding: 10px 15px;
      margin: 0;
      width: 100% !important;
      background: #fff;
      border-bottom: 1px solid #e1e1e1; }
      .message-notifications .scrollbar-notifications .title-notifications .h-message {
        font-size: 20px;
        font-weight: bold;
        color: #707278; }
      .message-notifications .scrollbar-notifications .title-notifications .message {
        font-size: 20px;
        white-space: pre-line;
        padding-left: 28px;
        margin-top: -20px;
        line-height: 20px;
        color: #707278; }
      .message-notifications .scrollbar-notifications .title-notifications .send-message {
        font-size: 20px;
        color: #707278;
        white-space: pre-line; }
      .message-notifications .scrollbar-notifications .title-notifications .time {
        font-size: 18px;
        white-space: pre-line;
        padding-left: 28px;
        color: #abaab2;
        font-style: normal;
        font-weight: 400;
        position: relative;
        right: unset; }
      .message-notifications .scrollbar-notifications .title-notifications .image img {
        margin-top: 7px;
        margin-right: 10px;
        width: 7%; }
      .message-notifications .scrollbar-notifications .title-notifications a {
        padding: 0 !important;
        background: none; }
  .message-notifications #style-1::-webkit-scrollbar-track {
    border-radius: 5px; }
  .message-notifications #style-1::-webkit-scrollbar {
    width: 5px; }
  .message-notifications #style-1::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ced6e6; }
  .message-notifications .all-notifications {
    font-size: 22px;
    background: #fff;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    text-align: center; }
    .message-notifications .all-notifications a {
      padding: 10px 0 !important; }
    .message-notifications .all-notifications a:hover {
      background: #eaedfe; }
    .message-notifications .all-notifications strong {
      color: #1428a0; }

.dropdown-profile .user-profile {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  padding: 6px 25px 25px 25px;
  margin-top: -5px; }
  .dropdown-profile .user-profile span {
    font-family: 'SamsungSharpSans';
    display: inline-block;
    position: absolute;
    color: #707278;
    font-size: 12px;
    padding-left: 38px;
    margin-top: -5px; }
  .dropdown-profile .user-profile .dropdown-toggle a:hover {
    background: #eaedfe; }

.dropdown-profile .open .dropdown-usermenu {
  width: 240px;
  font-size: 20px;
  box-shadow: 0 0 5px 0px #d8d0d0; }
  .dropdown-profile .open .dropdown-usermenu :hover {
    background: #eaedfe; }
  .dropdown-profile .open .dropdown-usermenu .fa-sign-out {
    padding-top: 5px;
    font-size: 20px; }

.top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
  background: #eaedfe; }

.head-notifications {
  display: inline-block;
  background: #fff;
  padding: 15px 15px 10px;
  width: 100%;
  line-height: 18px; }
  .head-notifications a {
    cursor: default; }
  .head-notifications .head-message {
    font-size: 24px;
    font-weight: bold;
    color: #3a4053; }
    .head-notifications .head-message a:hover {
      background: #eaedfe; }
  .head-notifications .number-notifications {
    font-size: 24px;
    font-weight: 400;
    color: #707278; }
  .head-notifications .title-message {
    font-size: 20px;
    font-weight: 400;
    color: #707278; }
  .head-notifications a:hover {
    background: none; }

.ui-pnotify-container .ui-pnotify-icon {
  font-size: 19px; }

.ui-pnotify-container .ui-pnotify-title {
  font-size: 25px;
  line-height: 25px; }

.ui-pnotify-container .ui-pnotify-text {
  font-size: 22px;
  line-height: 22px; }

@font-face {
  font-family: 'Kittithada';
  src: url("../fonts/kittithada/KittithadaLight45F.eot");
  src: url("../fonts/kittithada/KittithadaLight45F.eot?#iefix") format("embedded-opentype"), url("../fonts/kittithada/KittithadaLight45F.woff") format("woff"), url("../fonts/kittithada/KittithadaLight45F.ttf") format("truetype"), url("../fonts/kittithada/KittithadaLight45F.svg#KittithadaLight45F") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Kittithada Med';
  font-weight: 600;
  src: url("../fonts/kittithada/KittithadaMedium65P.eot");
  src: url("../fonts/kittithada/KittithadaMedium65P.eot?#iefix") format("embedded-opentype"), url("../fonts/kittithada/KittithadaMedium65P.woff") format("woff"), url("../fonts/kittithada/KittithadaMedium65P.ttf") format("truetype"), url("../fonts/kittithada/KittithadaMedium65P.svg#KittithadaMedium65P") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SamsungSharpSans Bold';
  src: url("../fonts/samsung/SamsungSharpSans-Bold.eot");
  src: url("../fonts/samsung/SamsungSharpSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/samsung/SamsungSharpSans-Bold.woff") format("woff"), url("../fonts/samsung/SamsungSharpSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SamsungSharpSans';
  src: url("../fonts/samsung/SamsungSharpSans-Medium.eot");
  src: url("../fonts/samsung/SamsungSharpSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/samsung/SamsungSharpSans-Medium.woff") format("woff"), url("../fonts/samsung/SamsungSharpSans-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: 'Kittithada';
  font-size: 12px; }

body .container.body .right_col {
  background: #eaedf2; }
  body .container.body .right_col > .content {
    margin-bottom: 20px; }

footer {
  font-family: 'Kittithada';
  margin-left: 275px;
  text-align: center;
  font-size: 20px;
  color: #a2a1a8;
  line-height: 1;
  padding: 12px; }
  footer span {
    font-family: 'SamsungSharpSans','Kittithada Med';
    font-size: 12px; }

a {
  color: #1428a0;
  cursor: pointer; }

.x_title {
  border-bottom: 1px solid #e1e1e1;
  padding: 1px 5px 6px;
  margin-bottom: 30px; }

.x_title h1 {
  font-size: 52px;
  font-family: 'SamsungSharpSans','Kittithada Med';
  margin: 5px 0 6px;
  float: left;
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #3a4053;
  letter-spacing: 1px; }
  .x_title h1 span {
    display: block;
    font-family: 'Kittithada';
    font-weight: 400;
    color: #707278;
    font-size: 30px;
    margin-top: 10px;
    margin-top: 0; }

.x_selectdate {
  float: right; }
  .x_selectdate .show_date {
    display: inline-block;
    text-align: center;
    padding: 14px 16px 12px;
    padding: 10px 30px 8px;
    font-family: 'SamsungSharpSans','Kittithada Med';
    color: #1428a0;
    line-height: 1;
    font-size: 22px;
    background-color: #eaedfe;
    border-radius: 6px;
    margin-right: 15px;
    vertical-align: top;
    cursor: pointer; }
  .x_selectdate .date_nav {
    display: inline-block; }
    .x_selectdate .date_nav ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
      background-image: url("../images/ico/calendar-ico.png");
      background-repeat: no-repeat;
      background-position: center; }
      .x_selectdate .date_nav ul li {
        display: inline-block; }
        .x_selectdate .date_nav ul li:first-child {
          margin-right: 55px; }
        .x_selectdate .date_nav ul li a {
          display: inline-block;
          padding: 12px 16px 10px;
          padding: 7px 10px 3px;
          border-radius: 6px;
          font-size: 19px;
          border: 1px solid #e1e1e1;
          cursor: pointer; }
          .x_selectdate .date_nav ul li a:hover {
            border-color: #1428a0;
            color: #1428a0; }

.x_panel {
  padding: 25px 30px;
  margin-top: 10px; }

.x_content.table_tools {
  padding: 0;
  font-size: 22px; }
  .x_content.table_tools input {
    font-family: 'Kittithada';
    font-size: 22px;
    padding: 25px 20px 23px;
    padding: 0 20px;
    line-height: 1;
    border-radius: 4px;
    border-color: #e1e1e1; }
  .x_content.table_tools a {
    display: block;
    padding: 25px 20px 23px;
    padding: 15px 10px 11px;
    padding: 8px 10px 8px;
    border: 1px solid #1428a0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer; }
    .x_content.table_tools a:hover {
      color: #fff;
      background-color: #1428a0; }
    .x_content.table_tools a .btn_export {
      font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-se; }
  .x_content.table_tools .filter-job .start-date-input {
    background-image: url("../images/ico/calendar-ico.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 20px; }
  .x_content.table_tools .filter-job .end-date-input {
    background-image: url("../images/ico/calendar-ico.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 20px; }
  .x_content.table_tools .filter-job .tableview {
    font-family: 'SamsungSharpSans','Kittithada Med'; }
  .x_content.table_tools .filter-job .mapview {
    font-family: 'SamsungSharpSans','Kittithada Med'; }
    .x_content.table_tools .filter-job .mapview.active {
      color: #fff;
      background-color: #1428a0; }
      .x_content.table_tools .filter-job .mapview.active span:before {
        content: "\e012";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: none;
        width: auto;
        height: auto; }
    .x_content.table_tools .filter-job .mapview span:before {
      content: "";
      width: 23px;
      height: 23px;
      display: inline-block;
      background-image: url("../images/ico/viewmap-ico.png");
      vertical-align: middle;
      margin-right: 10px; }
    .x_content.table_tools .filter-job .mapview:hover {
      color: #fff;
      background-color: #1428a0; }
      .x_content.table_tools .filter-job .mapview:hover span:before {
        background-image: url("../images/ico/viewmap-w-ico.png"); }
      .x_content.table_tools .filter-job .mapview:hover.active span:before {
        background-image: none; }

.table-tabs {
  margin-top: 10px; }
  .table-tabs .nav-tabs {
    border: 0; }
    .table-tabs .nav-tabs > li:nth-child(1) a {
      background-color: #1428a0; }
    .table-tabs .nav-tabs > li:nth-child(2) a {
      background-color: #fd7923; }
    .table-tabs .nav-tabs > li:nth-child(3) a {
      background-color: #ffb233; }
    .table-tabs .nav-tabs > li:nth-child(4) a {
      background-color: #337ab7; }
    .table-tabs .nav-tabs > li:nth-child(5) a {
      background-color: #77c621; }
    .table-tabs .nav-tabs > li:nth-child(6) a {
      background-color: #e02925; }
    .table-tabs .nav-tabs a {
      min-width: 150px;
      font-family: 'Kittithada';
      font-size: 20px;
      margin-right: 15px;
      padding: 10px 25px 10px;
      border: 0;
      border-left: 5px solid #000;
      color: #fff;
      border-color: transparent;
      letter-spacing: .5px;
      line-height: 1; }
      .table-tabs .nav-tabs a span {
        font-family: 'SamsungSharpSans Bold';
        display: block;
        font-size: 20px; }
  .table-tabs .dropdown-compare {
    margin-right: 35px;
    cursor: pointer; }
    .table-tabs .dropdown-compare a {
      margin: 0;
      border: 0;
      color: #a2a1a8; }
    .table-tabs .dropdown-compare.open > a {
      background-color: #fff;
      border-color: #e1e1e1; }
    .table-tabs .dropdown-compare li > a:focus, .table-tabs .dropdown-compare li > a:hover {
      background-color: #eaedfe;
      color: #1428a0; }
    .table-tabs .dropdown-compare > a {
      display: inline-block;
      font-size: 22px;
      font-family: 'Kittithada Med';
      color: #a2a1a8;
      margin: 0;
      margin-bottom: 1px;
      padding: 12px 20px;
      border: 1px solid #e1e1e1;
      background-color: #fff;
      border-radius: 4px; }
      .table-tabs .dropdown-compare > a:after {
        content: "\e259";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-size: 15px;
        margin-left: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  .table-tabs .nav-tabs > li.active > a,
  .table-tabs .nav-tabs > li.active > a:focus,
  .table-tabs .nav-tabs > li.active > a:hover {
    padding: 13px 25px 12px;
    padding: 10px 25px 10px;
    padding: 12px 25px 8px;
    border-color: transparent;
    border: 0;
    border-left: 5px solid #000;
    background-color: #fff;
    color: #1428a0; }
  .table-tabs .nav-tabs > li:nth-child(1).active > a,
  .table-tabs .nav-tabs > li:nth-child(1).active > a:focus,
  .table-tabs .nav-tabs > li:nth-child(1).active > a:hover {
    border-left: 5px solid #1428a0; }
  .table-tabs .nav-tabs > li:nth-child(2).active > a,
  .table-tabs .nav-tabs > li:nth-child(2).active > a:focus,
  .table-tabs .nav-tabs > li:nth-child(2).active > a:hover {
    border-left: 5px solid #fd7923; }
  .table-tabs .nav-tabs > li:nth-child(3).active > a,
  .table-tabs .nav-tabs > li:nth-child(3).active > a:focus,
  .table-tabs .nav-tabs > li:nth-child(3).active > a:hover {
    border-left: 5px solid #ffb233; }
  .table-tabs .nav-tabs > li:nth-child(4).active > a,
  .table-tabs .nav-tabs > li:nth-child(4).active > a:focus,
  .table-tabs .nav-tabs > li:nth-child(4).active > a:hover {
    border-left: 5px solid #337ab7; }
  .table-tabs .nav-tabs > li:nth-child(5).active > a,
  .table-tabs .nav-tabs > li:nth-child(5).active > a:focus,
  .table-tabs .nav-tabs > li:nth-child(5).active > a:hover {
    border-left: 5px solid #77c621; }
  .table-tabs .nav-tabs > li:nth-child(6).active > a,
  .table-tabs .nav-tabs > li:nth-child(6).active > a:focus,
  .table-tabs .nav-tabs > li:nth-child(6).active > a:hover {
    border-left: 5px solid #e02925; }
  .table-tabs .nav-tabs > li > a:hover {
    border-left: 5px solid #000; }
  .table-tabs .nav-tabs > li > a:hover {
    border-color: transparent; }
  .table-tabs .tab-content {
    background-color: #fff;
    padding: 30px;
    font-size: 12px;
    font-family: 'SamsungSharpSans';
    margin-top: 1px; }

.table-view {
  display: none; }
  .table-view.active {
    display: block; }

.table {
  font-size: 20px;
  font-family: 'Kittithada'; }
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td,
  .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    line-height: 1; }
  .table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f0f2fe; }
  .table.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f6f7ff; }
  .table thead {
    font-family: 'Kittithada Med';
    font-size: 21px; }
    .table thead th {
      border-bottom: 1px solid #e1e1e1; }
  .table tbody td {
    line-height: 1; }
    .table tbody td span {
      line-height: 1; }
  .table tbody > tr > td {
    color: #1428a0;
    color: #707278;
    padding-top: 20px;
    padding-bottom: 15px; }
    .table tbody > tr > td .dropdown span {
      font-size: 23px; }
  .table tbody > tr .toggle-table-child {
    font-size: 15px; }
    .table tbody > tr .toggle-table-child.disable a {
      cursor: not-allowed;
      background: #eee;
      color: #ccc; }
    .table tbody > tr .toggle-table-child a {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: #eaedfe;
      border-radius: 50%;
      line-height: 25px;
      text-align: center;
      color: #afaeb7;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s; }
      .table tbody > tr .toggle-table-child a.open {
        color: #1428a0;
        transform: rotate(90deg);
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s; }
      .table tbody > tr .toggle-table-child a span {
        line-height: 25px; }
  .table tbody tr.jobc-status span.date-status {
    display: inline-block;
    margin-top: 5px;
    padding: 3px 5px;
    font-family: 'Kittithada Med';
    font-size: 16px;
    border-radius: 4px;
    background-color: red;
    text-align: center;
    color: #fff;
    line-height: 1; }
  .table tbody tr.jobc-status.delay {
    background-color: #ffdcd0; }
    .table tbody tr.jobc-status.delay .date-status:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background-image: url("../images/ico/warning-ico.png"); }
  .table tbody .open-hour ul {
    list-style-type: none;
    padding: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
  .table .dropdown {
    cursor: pointer; }
    .table .dropdown .disabled {
      cursor: not-allowed; }
      .table .dropdown .disabled span {
        color: #bbc4d5; }
  .table .dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 4px; }
    .table .dropdown-menu a {
      font-size: 20px; }
    .table .dropdown-menu li > a:focus, .table .dropdown-menu li > a:hover {
      background-color: #eaedfe;
      color: #1428a0; }

.main-table > thead tr th {
  color: #707278;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0; }

.main-table > tbody > tr > td:nth-child(3), .main-table > tbody > tr > td:nth-child(4), .main-table > thead > tr > th:nth-child(3), .main-table > thead > tr > th:nth-child(4) {
  text-align: center; }

.main-table th:first-child,
.main-table td:first-child {
  padding-left: 20px; }

.main-table > tbody > tr:last-child {
  border-bottom: 1px solid #ddd; }

.main-table > tbody > tr.open td {
  color: #1428a0; }

.main-table table {
  position: relative;
  margin-bottom: 0;
  overflow: hidden; }
  .main-table table:before {
    content: "";
    display: block;
    box-shadow: 0 1px 10px 1px #000;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .main-table table:after {
    content: "";
    display: block;
    box-shadow: 0 0 10px 1px #000;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  .main-table table thead {
    background-color: #6f8ac4; }
    .main-table table thead tr th {
      color: #fff;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0; }
  .main-table table tbody tr td {
    color: #707278;
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px; }
    .main-table table tbody tr td.job-status span {
      display: inline-block; }
      .main-table table tbody tr td.job-status span:before {
        content: "";
        display: inline-block;
        margin-right: 10px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        vertical-align: inherit; }
    .main-table table tbody tr td.job-status.cancel span:before {
      background-color: #e02925; }
    .main-table table tbody tr td.job-status.finished span:before {
      background-color: #77c621; }
    .main-table table tbody tr td.job-status.pending span:before {
      background-color: #ffb233; }
    .main-table table tbody tr td.job-status.proceed span:before {
      background-color: #fd7923; }
  .main-table table tbody tr.jobc-status {
    border-top: 1px solid #ddd; }
    .main-table table tbody tr.jobc-status.delay {
      background-color: #ffdcd0; }
      .main-table table tbody tr.jobc-status.delay td {
        border-top: 1px solid #ecc2b4; }
      .main-table table tbody tr.jobc-status.delay .date-status:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background-image: url("../images/ico/warning-ico.png"); }

.minor-table.collaped {
  height: 0;
  overflow: hidden;
  visibility: collapse; }

.pagination {
  float: right; }
  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover {
    color: #1428a0;
    background-color: transparent; }
  .pagination .glyphicon {
    vertical-align: text-top; }
  .pagination li a {
    border: 0;
    font-size: 12px;
    color: #a2a1a8; }
    .pagination li a:hover {
      color: #1428a0; }
  .pagination li:first-child a, .pagination li:last-child a {
    border: 1px solid #e1e1e1;
    border-radius: 4px; }
    .pagination li:first-child a:hover, .pagination li:last-child a:hover {
      color: #fff;
      background-color: #1428a0; }
  .pagination li:first-child a {
    border-right: 1px solid #e1e1e1;
    margin-right: 15px;
    padding: 6px 10px; }
  .pagination li:last-child a {
    margin-left: 15px;
    padding: 6px 10px; }

.map-view {
  position: relative;
  overflow: hidden;
  display: none;
  padding: 0 30px 30px;
  height: 800px;
  min-height: 800px;
  background-color: #fff; }
  .map-view.active {
    display: block; }
  .map-view iframe {
    width: 100%;
    height: 775px;
    background-image: url(../../dump/map.jpg);
    border: 0; }
  .map-view .job-info {
    position: absolute;
    z-index: 100;
    width: 30%;
    height: 100%;
    right: -100%;
    top: 0;
    padding: 25px 20px;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: -1px 0px 10px #bdbdbd;
    font-family: 'Kittithada';
    font-size: 20px; }
    .map-view .job-info.open {
      right: 0; }
    .map-view .job-info label {
      display: inline-block;
      width: 35%;
      margin-bottom: 0; }
      .map-view .job-info label + span {
        display: inline-block;
        width: 60%; }
    .map-view .job-info .job-list {
      margin-bottom: 25px; }
      .map-view .job-info .job-list h3 {
        font-family: 'Kittithada Med';
        font-size: 24px;
        color: #000; }
      .map-view .job-info .job-list input {
        font-family: 'Kittithada Med';
        font-size: 24px;
        padding: 25px 20px 23px;
        padding: 0 20px;
        line-height: 1;
        border-radius: 4px;
        border-color: #e1e1e1;
        background-image: url("../images/ico/calendar-ico.png");
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 20px; }
    .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs a {
      min-width: 0;
      padding: 10px;
      padding-bottom: 5px;
      border: 0;
      margin-right: 10px;
      font-size: 18px;
      font-size: 16px; }
      .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs a:hover, .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs a:focus {
        border: 0; }
    .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs li {
      width: 25%; }
      .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs li:nth-child(1) a {
        background-color: #fd7923; }
      .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs li:nth-child(2) a {
        background-color: #ffb233; }
      .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs li:nth-child(3) a {
        background-color: #77c621; }
      .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs li:nth-child(4) a {
        background-color: #e02925; }
      .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs li.active a {
        background-color: #eaedfe; }
    .map-view .job-info .job-list-table .table-mini-tabs .nav-tabs li:last-child a {
      margin-right: 0; }
    .map-view .job-info .job-list-table .table-mini-tabs .tab-content {
      padding: 20px 0;
      font-family: 'Kittithada';
      font-size: 20px;
      font-size: 19px; }
      .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul {
        list-style-type: none;
        padding: 0;
        vertical-align: top;
        display: block;
        max-height: 290px;
        max-height: 280px;
        overflow: auto; }
        .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul li {
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid #e1e1e1; }
        .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul label {
          margin-bottom: 0;
          vertical-align: top; }
        .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul span {
          position: relative;
          display: inline-block;
          vertical-align: top; }
          .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul span.job-status {
            padding-left: 15px; }
            .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul span.job-status:before {
              content: "";
              display: inline-block;
              position: absolute;
              left: 0;
              top: 35%;
              margin-right: 3px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: #fff;
              vertical-align: inherit; }
          .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul span.cancel:before {
            background-color: #e02925; }
          .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul span.finished:before {
            background-color: #77c621; }
          .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul span.pending:before {
            background-color: #ffb233; }
          .map-view .job-info .job-list-table .table-mini-tabs .tab-content ul span.proceed:before {
            background-color: #fd7923; }
    .map-view .job-info .see-all-job {
      display: block;
      padding: 5px;
      margin-top: 5px;
      text-align: center;
      color: #1428a0;
      font-size: 24px;
      font-family: 'Kittithada Med';
      border: 1px solid #1428a0;
      border-radius: 4px; }
    .map-view .job-info .btn-paneclose {
      position: absolute;
      top: 10px;
      right: 20px;
      color: #a2a1a8; }

.btn-primary {
  background-color: #eaedfe;
  border-color: #eaedfe;
  color: #000; }

.btn-primary:hover {
  background-color: #1428a0;
  border-color: #1428a0; }

.btn-primary.active, .btn-primary:active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.active.focus, .btn-primary.active:focus,
.btn-primary.active:hover, .btn-primary:active.focus,
.btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  background-color: #1428a0; }

.x_title {
  padding: 1px 0px 6px; }

.form-tools {
  clear: both;
  font-size: 22px;
  margin-bottom: 25px;
  padding-top: 5px; }
  .form-tools a {
    display: inline-block;
    padding: 5px 35px;
    border: 1px solid #e1e1e1;
    border: 1px solid #1428a0;
    border-radius: 4px; }
    .form-tools a:hover {
      color: #1428a0;
      border-color: #1428a0; }
    .form-tools a.disable {
      color: #e1e1e1;
      border: 1px solid #e1e1e1; }
  .form-tools .back-btn {
    margin-right: 20px;
    cursor: pointer; }
    .form-tools .back-btn:before {
      content: "\e257";
      position: relative;
      top: 3px;
      left: -5px;
      display: inline-block;
      font-family: "Glyphicons Halflings";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .form-tools .next-btn {
    cursor: pointer; }
    .form-tools .next-btn:after {
      content: "\e258";
      position: relative;
      top: 2px;
      right: -5px;
      display: inline-block;
      font-family: "Glyphicons Halflings";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .form-tools .exitsave-btn {
    float: right;
    font-family: 'Kittithada Med';
    background-color: #eaedfe;
    border-color: #eaedfe;
    cursor: pointer; }
    .form-tools .exitsave-btn:before {
      content: "\e172";
      position: relative;
      top: 3px;
      left: -5px;
      display: inline-block;
      font-family: "Glyphicons Halflings";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

.nav-step {
  font-family: 'Kittithada Med';
  font-size: 24px;
  margin-bottom: 30px; }

.nav-step > li {
  float: left; }

.nav-step > li > a {
  position: relative;
  background-color: #eaedfe;
  padding-top: 13px;
  padding-bottom: 13px;
  line-height: 1;
  text-align: center; }

.nav-step > li > a .badge {
  margin-left: 3px;
  color: #eeeeee;
  background-color: #428bca; }

.nav-step > li:not(:first-child) > a {
  padding-left: 34px; }

.nav-step > li:not(:first-child) > a:before {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #ffffff;
  border-top: 25px inset transparent;
  border-bottom: 25px inset transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  content: "";
  top: 0;
  left: 0; }

.nav-step > li:not(:last-child) > a {
  margin-right: 6px;
  margin-right: -10px; }
  .nav-step > li:not(:last-child) > a:hover, .nav-step > li:not(:last-child) > a:focus {
    background-color: #eaedfe; }

.nav-step > li:not(:last-child) > a:after {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #eaedfe;
  border-top: 25px inset transparent;
  border-bottom: 25px inset transparent;
  border-left: 20px solid #eaedfe;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2; }

.nav-step > li:first-child > a {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.nav-step > li:last-child > a {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.nav-step > li.done:hover > a,
.nav-step > li:hover > a {
  background-color: #eaedfe; }

.nav-step > li.done:hover > a:before,
.nav-step > li:hover > a:before {
  border-right-color: #eaedfe; }

.nav-step > li.done:hover > a:after,
.nav-step > li:hover > a:after {
  border-left-color: #eaedfe; }

.nav-step > li.done > a {
  background-color: #e2e2e2; }

.nav-step > li.done > a:before {
  border-right-color: #e2e2e2; }

.nav-step > li.done > a:after {
  border-left-color: #e2e2e2; }

.nav-step > li.active > a,
.nav-step > li.active > a:hover,
.nav-step > li.active > a:focus {
  color: #fff;
  background-color: #1428a0; }

.nav-step > li.active > a:after {
  border-left-color: #1428a0; }

.nav-step > li.active > a .badge {
  color: #428bca;
  background-color: #ffffff; }

.nav-step > li.disabled > a {
  color: #777777; }

.nav-step > li.disabled > a:hover,
.nav-step > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: #eeeeee;
  cursor: default; }

.nav-step > li.disabled > a:before {
  border-right-color: #eeeeee; }

.nav-step > li.disabled > a:after {
  border-left-color: #eeeeee; }

.nav-step.nav-justified > li {
  float: none; }

.nav-step.nav-justified > li > a {
  padding: 10px 15px; }

@media (max-width: 768px) {
  .nav-step.nav-justified > li > a {
    border-radius: 4px;
    margin-right: 0; }
  .nav-step.nav-justified > li > a:before,
  .nav-step.nav-justified > li > a:after {
    border: none !important; } }

.form {
  font-size: 20px; }
  .form span.section {
    font-size: 26px;
    background-color: #f1f3f7;
    margin-bottom: 30px;
    border: 0;
    padding: 5px 30px; }
    .form span.section.small {
      font-size: 22px; }
  .form .form-group {
    margin-bottom: 20px; }
  .form .text-only {
    display: inline-block;
    font-size: 20px;
    font-family: 'Kittithada Med';
    padding: 10px 0;
    color: #3a4053; }
  .form .form-horizontal .control-label {
    text-align: left;
    letter-spacing: .5px; }
  .form .form-control {
    font-size: 20px;
    font-family: 'Kittithada Med';
    color: #3a4053;
    padding: 10px 22px;
    height: auto;
    border-radius: 4px;
    border-color: #e1e1e1; }
    .form .form-control:read-only {
      color: #3a4053; }
    .form .form-control.date-picker {
      background-image: url("../images/ico/calendar-ico.png");
      background-repeat: no-repeat;
      background-position: 95% center;
      background-size: 20px; }
  .form .checkbox label, .form .radio label {
    font-size: 20px;
    font-family: 'Kittithada Med';
    color: #3a4053;
    padding-left: 25px; }
  .form .checkbox input[type=checkbox], .form .checkbox-inline input[type=checkbox],
  .form .radio input[type=radio], .form .radio-inline input[type=radio] {
    margin-top: 6px;
    margin-left: -25px; }
  .form .btn {
    border-radius: 4px; }
  .form .btn-group .btn {
    font-size: 20px;
    font-family: 'Kittithada Med'; }
  .form .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border: 1px solid #e1e1e1; }
  .form .btn-group > .btn:last-child:not(:first-child), .form .btn-group > .dropdown-toggle:not(:first-child) {
    border: 1px solid #e1e1e1; }
  .form .warning .alert {
    left: 0;
    opacity: 1;
    display: block; }
  .form .alert {
    display: none;
    font-size: 18px;
    float: left;
    margin: 0;
    color: #ff0000;
    background-color: transparent;
    padding: 0;
    font-style: italic;
    white-space: pre;
    position: relative;
    left: -15px;
    opacity: 0;
    z-index: 1;
    transition: .15s ease-out; }
  .form select.form-control {
    padding: 10px 22px;
    background-image: url("../images/ico/arrow-down-ico.png");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .form select.select2_multiple.form-control {
    background-image: none; }
  .form select.mini-select.form-control {
    display: inline-block;
    width: 80px;
    padding: 10px 15px;
    background-position: 82% center; }
    .form select.mini-select.form-control + span {
      display: inline-block;
      padding: 0 10px;
      font-family: 'Kittithada Med'; }
  .form .form-control[disabled], .form .form-control[readonly],
  .form fieldset[disabled] .form-control {
    background-color: #e1e1e1; }
  .form .editor.btn-toolbar .btn {
    font-size: 14px;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif; }
  .form .editor .btn {
    color: #73879C;
    border-radius: 0; }
  .form .editor .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
  .form .editor .btn-group > .btn:last-child:not(:first-child), .form .editor .btn-group > .dropdown-toggle:not(:first-child) {
    border: 0; }
  .form .editor .btn-info {
    background-color: #eaedfe; }
  .form .editor-wrapper {
    padding: 15px; }

.history-list {
  float: left;
  width: 100%;
  margin-bottom: 30px; }
  .history-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .history-list ul li {
      display: block;
      float: left;
      width: 100%; }
      .history-list ul li.job-status {
        padding: 10px 0;
        border-top: 1px solid #e1e1e1; }
        .history-list ul li.job-status.cancel .job-time {
          border-left: 4px solid #e02925; }
        .history-list ul li.job-status.finished .job-time {
          border-left: 4px solid #77c621; }
        .history-list ul li.job-status.pending .job-time {
          border-left: 4px solid #ffb233; }
        .history-list ul li.job-status.proceed .job-time {
          border-left: 4px solid #fd7923; }
        .history-list ul li.job-status.cancel .job-desc span:first-child:before {
          background-color: #e02925; }
        .history-list ul li.job-status.finished .job-desc span:first-child:before {
          background-color: #77c621; }
        .history-list ul li.job-status.pending .job-desc span:first-child:before {
          background-color: #ffb233; }
        .history-list ul li.job-status.proceed .job-desc span:first-child:before {
          background-color: #fd7923; }
        .history-list ul li.job-status:last-child {
          border-bottom: 1px solid #e1e1e1; }
      .history-list ul li .job-time {
        float: left;
        width: 10%;
        width: 6%;
        padding-left: 15px;
        display: inline-block; }
        .history-list ul li .job-time span {
          display: block;
          font-family: 'Kittithada Med'; }
      .history-list ul li .job-desc {
        float: left;
        width: 90%;
        display: inline-block; }
        .history-list ul li .job-desc span {
          display: block; }
          .history-list ul li .job-desc span + span {
            font-size: 15px; }
          .history-list ul li .job-desc span:before {
            content: "";
            display: inline-block;
            margin-right: 10px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #fff;
            vertical-align: inherit; }

.job-location .submitmap-btn {
  display: inline-block;
  padding: 5px 35px;
  border: 1px solid #e1e1e1;
  border: 1px solid #1428a0;
  border-radius: 4px;
  float: right;
  font-family: 'Kittithada Med';
  background-color: #eaedfe;
  border-color: #eaedfe;
  margin-right: 20px; }

.job-location .cancel-btn {
  display: inline-block;
  padding: 5px 35px;
  border: 1px solid #e1e1e1;
  color: #a4a3a8;
  border-radius: 4px;
  float: right;
  font-family: 'Kittithada Med'; }

.job-location iframe {
  width: 100%;
  height: 500px; }

.daterangepicker.dropdown-menu {
  font-size: 18px; }

#form2 select.form-control {
  background-position: 93% center; }

.engineer-images .images-wrap {
  width: 100%;
  background-color: #e1e1e1;
  border-radius: 4px;
  overflow: hidden; }

.engineer-images img {
  max-width: 100%; }

.engineer-images label input {
  display: none; }

.engineer-images a {
  float: right; }

.process-gallery {
  margin-bottom: 10px; }
  .process-gallery a {
    overflow: hidden;
    width: 100%;
    display: block;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #e1e1e1;
    overflow: hidden; }
  .process-gallery img {
    max-height: 170px; }
  .process-gallery ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 20px; }
    .process-gallery ul span {
      display: inline-block;
      width: 20%; }

.simple-lightbox {
  font-family: 'SamsungSharpSans'; }
  .simple-lightbox.sl-wrapper .sl-counter {
    font-size: 30px !important; }

.record-list ul {
  list-style-type: none;
  padding: 0; }
  .record-list ul li {
    display: block;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    margin-bottom: 20px; }
    .record-list ul li:hover {
      color: #1428a0;
      background-color: #eaedfe; }
      .record-list ul li:hover .date-download a {
        color: #1428a0; }
    .record-list ul li div {
      display: inline-block; }
    .record-list ul li .name-size {
      position: relative;
      font-family: 'SamsungSharpSans Bold';
      font-size: 15px;
      padding-left: 40px;
      letter-spacing: .5px; }
      .record-list ul li .name-size span {
        display: block;
        font-family: 'SamsungSharpSans';
        font-size: 12px; }
      .record-list ul li .name-size:before {
        content: "\e022";
        position: absolute;
        top: 1px;
        left: 0;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-size: 35px;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .record-list ul li .date-download {
      float: right;
      text-align: right;
      font-size: 20px;
      line-height: 1; }
      .record-list ul li .date-download a {
        display: block;
        color: #73879C; }

.customer-sign {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  min-height: 200px;
  text-align: center; }
  .customer-sign img {
    width: 100%; }

.form-step .form {
  display: none; }
  .form-step .form.active {
    display: block; }

.set-time-alert {
  color: #e01919; }
